---
import { Image } from "astro:assets";
import Image1 from "../images/000010.jpeg";
import Image2 from "../images/000026.jpeg";
import Image3 from "../images/000038.jpeg";
import Image4 from "../images/000062.jpeg";
import Image5 from "../images/000067.jpeg";
import Image6 from "../images/98600032.jpeg";
import Image7 from "../images/98600035.jpeg";
import Image8 from "../images/98620009.jpeg";
import Image9 from "../images/98620029.jpeg";
import Image10 from "../images/98630004.jpeg";
import Image11 from "../images/98630005.jpeg";
import Image12 from "../images/98630013.jpeg";
import Image13 from "../images/98630014.jpeg";
import Image14 from "../images/98630015.jpeg";
import Image15 from "../images/98630016.jpeg";
import Image16 from "../images/98630025.jpeg";
import Image17 from "../images/98630026.jpeg";
import Image18 from "../images/98630027.jpeg";
import Image19 from "../images/98630033.jpeg";
---

<section>
  <Image
    src={Image1}
    alt='Cliff face in the Grampian Mountains Victoria, Australia'
  />
  <Image
    src={Image2}
    alt='Lake with dead trees in, Grampian Mountains Victoria, Australia'
  />
  <Image src={Image3} alt='Sydney riverside at night' />
  <Image src={Image4} alt='Painted cliffs' />
  <Image src={Image5} alt='Pink lake under freeway overpass' />
  <Image src={Image6} alt='Direction sign showing major cities and distances' />
  <Image src={Image7} alt='View over bay and fountain Wellington New Zealand' />
  <Image src={Image8} alt='Cliff top lighthouse' />
  <Image src={Image9} alt='Seagull on concrete bunkerMount Ngauruhoe' />
  <Image src={Image10} alt='Mount Ngauruhoe' />
  <Image src={Image11} alt='View down deserted road' />
  <Image src={Image12} alt='Mount Ngauruhoe, Tongariro Crossing' />
  <Image src={Image13} alt='Tongariro Crossing views' />
  <Image src={Image14} alt='Tongariro Crossing views' />
  <Image src={Image15} alt='Tongariro Crossing views' />
  <Image
    src={Image16}
    alt='Woman staring out of window with reflection in mirror'
  />
  <Image src={Image17} alt='Ongaonga Fire Station, small rural firestation' />
  <Image src={Image18} alt='Rural barn with painted signs all over' />
  <Image src={Image19} alt='Wall of tattoo flash art' />
</section>
<style>
  section {
    display: grid;
    flex-direction: column;
    gap: var(--space-8);
    grid-template-columns: 1fr;

    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
</style>
